html, body {
    scroll-behavior: smooth;
}
.hero {
    background: url('conero.jpg') center center/cover no-repeat;
    height: 100vh;
}
.hero .title {
    color: white;
    font-size: 4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.instagram-section {
    padding: 2rem;
    text-align: center;
}
.social-btn {
    text-decoration: none;
    border: 0;
    color: #c811e9;
    border-radius: 50%;
    display: flex;
    align-items: center;
}
.social-btn svg {
    width: 32px;
    height: 32px;
}
.footer {
    padding: 0.69rem;
    font-size: 0.9rem;
    text-align: center;
    background-color: #f5f5f5;
}